@{
    ViewData["Title"] = "Ticket Dashboard";
    Layout = "~/Views/Shared/_MainLayout3.cshtml";
}


<style>



    label {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
    }

    table{
        font-size:13px !important;
        overflow: scroll !important;
    }

    .custom-table   th {
        border: 1.4px solid #000;
        background-color: #008ee1;
        color:#fff;
    }

    .custom-table td {
        border: 1.4px solid #000;
       /*  background-color: #008ee1;
        color: #fff; */
    }

</style>
<div class=" container-fluid" id="bdy">
    <div class="card shadow mt-4 overflow-hidden">
        <div class="card-header py-3 ">
            <h6 id="header" class="m-0 font-weight-bold text-primary ">Ticket Dashboard</h6>
        </div>

        <div class="row p-3" @* style="background-color:#b5daff;"*@>
          

            <div class="col-md-4 mb-2">
                <label for="fromdate">From Date</label>
                <input type="date" id="fromdate" class="form-control" name="fromdate" />



            </div>

            <div class="col-md-4 mb-2">
                <label for="todate">To Date</label>
                <input type="date" id="todate" class="form-control" name="todate" />



            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <select id="companynameid" class="form-control mandatory" name="Company Name" onchange="bindRegion(this.value)">
                       
                        @if (ViewBag.companyname != null)
                        {
                            foreach (var item in ViewBag.companyname as List<SelectListItem>)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="Region">Region Name</label>
                    <select id="Region" class="form-control mandatory" name="Region Name" onchange="bindBranch(this.value)">
                        <option value="All">All</option>
                        @*  @if (ViewBag.companyname != null)
                        {
                        foreach (var item in ViewBag.companyname as List<SelectListItem>)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                        } *@
                    </select>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="Branch">Branch Name</label>
                    <select id="Branch" class="form-control mandatory" name="Branch Name" onchange="BindCustomer(this.value)">
                        <option value="All">All</option>
                        @*  @if (ViewBag.companyname != null)
                        {
                        foreach (var item in ViewBag.companyname as List<SelectListItem>)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                        } *@
                    </select>
                </div>
            </div>


            <div class="col-md-4 mb-2">
                <label for="custmername">Custmer Name</label>
                <select id="custmernameid" class="form-control" name="custmernameid" onchange="BindSite(this.value)">
                    <option value="All">All</option>
                </select>
            </div>
            <div class="col-md-4 mb-2">
                <label for="sitename">Site Name</label>
                <select id="sitenameid" name="sitename" class="form-control">
                    <option value="All">All</option>

                </select>
            </div>


            <div class="col-md-4 mb-2">
                <label for="ticketno">Ticket No</label>
                <input type="text" id="ticketno" class="form-control" name="ticketno" />



            </div>


            <div class="col-md-4 mb-2">
                <label for="tickettype">Ticket Type</label>
                <select id="tickettypeid" name="tickettype" class="form-control" onchange="Bindcate(this.value)">
                    <option value="All">All</option>
                    @if (ViewBag.tickettypee != null)
                    {
                        foreach (var item in ViewBag.tickettypee as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="col-md-4 mb-2">
                <label for="category">Ticket Category</label>
                <select id="categoryid" name="categoryid" class="form-control">
                    <option value="All">All</option>

                </select>

            </div>

            <div class="col-md-4 mb-2">
                <label for="priority">Priority</label>
                <select id="priorityid" name="priorityid" class="form-control">
                    <option value="All">All</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>


                </select>
            </div>


            <div class="col-md-4 mb-2">
                <label for="ticketdiscriptionid">Ticket Status</label>
                <select class="form-control" id="ticketstatus">
                    <option value="All">All</option>
                    @if (ViewBag.ticketstatus != null)
                    {
                        foreach (var item in ViewBag.ticketstatus as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
        </div>


        <div class="row py-3 px-3">

            <div mb-4>
                <button id="btnsave" type="button" onclick="dashboardd()" class="btn btn-dark w-10 mt-3 text-center">View Ticket</button>
                <button id="btnsave" type="button" onclick="exportexcel('TicketDashboard')" class="btn btn-dark w-10 mt-3 text-center">Export To Excel</button>
            </div>
       
            <div>

                <table id="data-table" style="overflow:scroll" class="custom-table mt-3">
                    <thead>
                        <tr>
                    <th>S.No</th>
                    <th>Customer Name</th>
                    <th>Site Name</th>
                    <th>Zone Name</th>
                    <th>Ticket Type</th>
                    <th>Ticket Category</th>
                    <th>Ticket No.</th>
                    <th>Ticket Description</th>
                    <th>Ticket Priority</th>
                    <th>Ticket Status</th>
                    <th>Ticket Creation Date</th>
                    <th>Ticket Creation Images</th>
                    <th>Ticket Assigned To</th>
                    <th>Ticket Assigned Date</th>
                    <th>Ticket Closure Date</th>
                    <th>Ticket Closure Remarks</th>
                    <th>Ticket Closure Sign</th>
                    <th>Ticket Closure Images</th>

                        </tr>
                    </thead>
                    <tbody id="quotationTableBody">
                    </tbody>
                </table>



            </div>
        </div>

    </div>
</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="~/js/xlxs.full.min.js"></script>
<script src="~/js/Dashboard.js"></script>
<script src="~/js/Master.js"></script>

<script>
    $("#companynameid").select2();
    $("#custmernameid").select2();
    $("#Region").select2();
    $("#Branch").select2();
    $("#sitenameid").select2();
    $("#categoryid").select2();
    $("#tickettypeid").select2();
    $("#priorityid").select2();
    $("#ticketstatus").select2();
</script>




